*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(255, 225, 255, 0);
  margin: 0;
  padding: 0;
}

body {
  font-family: 'GCF', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: auto;
  background-color: var(--layout-background);
  color: var(--layout-color);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

::selection {
  background-color: var(--yellow-1);
}

::-webkit-calendar-picker-indicator {
  display: none;
}
